<div class="container" id="home">
    <h1>Welcome to Chofer App</h1>
    <img src="/images/map.png" alt=""><br><br>
    <p>Compara gratis cuánto pagarás por tus traslados en Taxi , VTC, Motos, Bicicletas .... </p><br>
    <a class="btn btn-primary btn-lg btn-block" href="/auth/signup" role="button">Comparar</a>
</div>