<div class="container" id="home">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="/images/map.png" alt="">
<p>Compara gratis cuanto pagaras en tus traslados con Taxi , VTC, Motos, Bicicletas .... </p>
<a class="btn btn-primary btn-lg btn-block" href="/auth/signup" role="button">Comparar</a>
</div>