<div class="container" id="login">
<h2>Login</h2>
<form action="/auth/login" method='post'>
   <div class="form-group form-check">
    <label for="exampleInputEmail1"> Name</label>
    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
    <br>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
    <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <br> {{ messages }}
      <br>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
</div>