<!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trips">Trips</a>
            </li>
        </ul>
    </div>
    
    <h6>Chofer App</h6>

        <a href="/auth/login">{{currentUser.name}} Log Out</a></div>
</nav>
<!--/.Navbar-->

<div class="container" id="detalles">
     <div id="directions">
    <form>
        <label for="origin">Origin</label>
        <br>
        <input type="text" name="destination" id="destination">
        <div id='geocoder' class='geocoder'></div>
        <br>
        <br>
        <label for="destination">Destination</label>
        <br>
        <input type="text" name="destination" id="destination">
    </form>
</div>
<br>
<div>
    <h2>Detalles de la tarifa Taxi </h2>
    <p>Bajada de bandera     2,15€</p>
    <p>Distancia</p>
    <p>Precio por Kms        1,15€</p>
    <p>Tiempo aproximado</p>
    <h5>Precio Total</h5>
</div>

<div class="d-inline-block bg-warning">
  <h3> Uber</h3>
 <a href="/trips/uber">Tarifas</a>
</div>
<div class="d-inline-block bg-warning">
  <h3>Cabify</h3>
 <a href="/trips/cabify">Tarifas </a>
</div>