
<div id="logout"><a href="/auth/login">{{currentUser.name}} Log Out</a></div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='navigator'>
  <div id="directions">
    <form>
      <label for="origin">Origen</label>
      <br>
      <input type="text" name="destination" id="destination" value="Tu ubicación actual">
      <br>
      <br>
      <label for="destination">Destination</label>
      <br>
      <div id='geocoder' class='geocoder'></div>
    </form>
  </div>
  <div id='map'></div>
  <br>
  <div id='distance'></div>
  <div class='time-box'>
    <p>Time</p>
    <div id="time">
    <p>-</p>
  </div>
  min
  </div>

  
  <br>
  <h5>¿Cómo llegar?</h5>
  <div id='instructions'></div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>