<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{name}}
<div id='navigator'>
<div id='map'></div>
<div id="directions">
  <form>
    <label for="origin">Origin</label>
    <br>
    <input type="text" name="origin" id="origin">
    <br>
    <br>
    <label for="destination">Destination</label>
    <br>
    <input type="text" name="destination" id="destination">
  </form>
  <br>
  <h5>¿Cómo llegar?</h5>
  <br>
  <div id='instructions'></div>
</div>
</div>


