<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='navigator'>
<div id='map'></div>
<div class="directions">
  <form>
    <input type="text" name="origin" id="origin">
    <input type="text" name="destination" id="destination">
  </form>
</div>
</div>


