<div id="logout"><a href="/auth/login">{{currentUser.name}} Log Out</a></div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='navigator'>
  <div id="directions">
    <form>
      <label for="origin">Origen</label>
      <span><img src='public/images/current-location.png'/></span>
      <br>
      <input type="text" name="origin" id="origin" value="Tu ubicación actual">
      <br>
      <br>
      <br>
      <label for="destination">Destino</label>
      <span><img src='public/images/current-location.png'/></span>
      <div id='geocoder' class='geocoder'></div>
    </form>
  </div>
  <div id='map'></div>
  <br>
<div class='route-info'>
<div class='distance'>
  <p>Distancia</p>
  <div id='distance'>
    <p>-</p>
  </div>
  km
</div>
<br>
<br>
  <div class='time'>
    <p>Tiempo</p>
    <div id="time">
    <p>-</p>
  </div>
  min
  </div>


</div>
  
  <br>
  <h5>¿Cómo llegar?</h5>
  <div id='instructions'></div>
</div>
<br>
<br>
<div id="logos">
<div class="d-inline-block bg-warning">
  <h3> Taxi</h3>
  <p id='taxi-route'>-</p>
  <span data-toggle="modal" data-target="#modal">Tarifas</span>
</div>
<div class="d-inline-block bg-warning">
  <h3> Uber</h3>
  <p id='uber-route'>-</p>
 <a href="/trips/uber">Tarifas</a>
</div>
<div class="d-inline-block bg-warning">
  <h3>Cabify</h3>
  <p id='cabify-route'>-</p>
 <a href="/trips/cabify">Tarifas </a>
</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hello world
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>