<div id="logout"><a href="/auth/login">{{currentUser.name}} Log Out</a></div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='navigator'>
  <div id="directions">
    <form>
      <label for="origin">Origen</label>
      <br>
      <input type="text" name="destination" id="destination" value="Tu ubicación actual">
      <br>
      <br>
      <label for="destination">Destination</label>
      <br>
      <div id='geocoder' class='geocoder'></div>
    </form>
  </div>
  <div id='map'></div>
  <br>
  <h5>¿Cómo llegar?</h5>
  <div id='instructions'></div>
</div>
<div id="logos">
<div class="d-inline-block bg-warning">
  <h3> Taxi</h3>
  <a href="/trips/taxi">Tarifas</a>
</div>
<div class="d-inline-block bg-warning">
  <h3> Uber</h3>
 <a href="/trips/uber">Tarifas</a>
</div>
<div class="d-inline-block bg-warning">
  <h3>Cabify</h3>
 <a href="/trips/cabify">Tarifas </a>
</div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>